body {
	color:#fff;
	text-transform: uppercase;
}
#deer {
	background-image: url("3.jpg");
    /* Set a specific height */
    min-height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .navbar.transparent {
   background: rgba(0,0,0,0.2);
   padding:5px;
   text-align:center;
   border-bottom-color:#ffffff;
}
.navbar li {
	text-align:center;
	padding-left:40px;
	color:#ffffff;
	font size:30px;
}
.navbar li.active {
	background: rgba(0,0,0,0.7);
}
.asleep {
    /* The image used */
    background-image: url("balloons.jpeg");

    /* Set a specific height */
    min-height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#me {
	float:right;
	position:relative;
	display:inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	border-radius:50%;
}
#about {
	float:left;
	position:relative;
	width:50%;
}
#bio {
    margin:20px;
	height:300px;
	/*border: 2px solid #ffffff;*/
}
.navbar {
	margin-bottom:0px !important;
	border-radius:0px !important;
	position:fixed;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #999999;
}
#clean {
	text-overflow:ellipsis;
}
#star2 {
	position:absolute;
	top:30%;
	left:20%;
	height:4px;
	width:4px;
	background-color:#ffffff;
	border-radius:50%;
	animation:stara 1.5s linear infinite;
	animation-delay:2s;
}
#star3 {
	position:absolute;
	top:15%;
	left:40%;
	height:4px;
	width:4px;
	background-color:#ffffff;
	border-radius:50%;
	animation:stara 1.5s linear infinite;
	animation-delay:2s;
}
#star4 {
	position:absolute;
	top:30%;
	left:70%;
	height:4px;
	width:4px;
	background-color:#ffffff;
	border-radius:50%;
	animation:stara 1.5s linear infinite;
	animation-delay:2s;
}
#star5 {
	position:absolute;
	top:20%;
	left:90%;
	height:4px;
	width:4px;
	background-color:#ffffff;
	border-radius:50%;
	animation:staraa 1.5s linear infinite;
	animation-delay:2s;
}
@keyframes staraa{
	0% {opacity:0.2;}
	50% {opacity:1;}
	100% {opacity:0.2;}
}

#star {
	position:absolute;
	height:4px;
	width:4px;
	background-color:#ffffff;
	border-radius:50%;
	animation:starb 1.5s linear forwards;
	animation-delay:2s;
}

@keyframes starb {
	0% {opacity:1;top:35%;left:20%;}
	100% {opacity:0.3;top:25%;left:100%;}
}


.main {
    font-family: 'Raleway', sans-serif;
	position:absolute;
	top:18%;
	left:33%;
	letter-spacing:10px;
	font-size:45px;
	color:#fff;
/*	text-align:left;*/
}
.subname {
	font-size: 40px;
	margin-left:20px;
	width:40%;
	font-family: 'Domine', serif;
	border-bottom: 3px solid black;
}

#portfolio {
	height:350px;
}

.portimg {
	text-indent:60px;
	display:inline;
	margin:20px;
	text-align:center;
}
.descr {
	display:inline;
}	
#plants {
	background-image: url("4.jpg");

    /* Set a specific height */
    min-height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact {
	padding-top:75px;
	height:250px;
	text-align:center;
}
.social {

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height:75px;
	width:75px;
	margin:10px;
}

